body {
  font-family: "Montserrat", "Noto+Sans+KR", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.085em;
  color: #222;
  height: 3000px;
}
body a {
  color: #222;
  text-decoration: none;
}

#hd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
#hd h1 a img {
  height: 4rem;
}
#hd #gnb {
  display: flex;
}
#hd #gnb li {
  padding: 0 15px;
}
#hd #gnb li:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: blue;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 0;
  transition: 0.5s;
}
#hd #gnb li:hover:after {
  transform: translateY(120%);
  opacity: 1;
}
#hd #gnb li:hover a {
  color: blue;
}